<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|40","left":"var:preset|spacing|40","top":"var:preset|spacing|70","bottom":"var:preset|spacing|70"}},"dimensions":{"minHeight":"80vh"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="min-height:80vh;padding-top:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--40)"><!-- wp:heading -->
<h2 class="wp-block-heading">About</h2>
<!-- /wp:heading -->

<!-- wp:group {"style":{"spacing":{"padding":{"top":"var:preset|spacing|40","bottom":"var:preset|spacing|40"},"blockGap":"var:preset|spacing|40"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="padding-top:var(--wp--preset--spacing--40);padding-bottom:var(--wp--preset--spacing--40)"><!-- wp:paragraph -->
<p>Hi there, my name is Ardian.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>I’m a dedicated WordPress theme and plugin developer based in Jakarta, Indonesia. When I’m not coding, I’m at home with my wonderful wife, beautiful daughter, and handsome son.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>This website is the hub for my personal web development journey. I use it to share my latest projects, valuable code snippets, and in-depth tutorials on WordPress plugin development.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Are you interested in seeing what I build? Please head over to the <a href="https://ardianpradana.com/portfolio/">Projects Page</a> to explore my custom themes and plugins, including those I develop to extend WordPress core functionality.</p>
<!-- /wp:paragraph -->

<!-- wp:paragraph -->
<p>Thanks for stopping by!</p>
<!-- /wp:paragraph --></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->