<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50","top":"4rem","bottom":"4rem"}},"dimensions":{"minHeight":"80vh"}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="min-height:80vh;padding-top:4rem;padding-right:var(--wp--preset--spacing--50);padding-bottom:4rem;padding-left:var(--wp--preset--spacing--50)"><!-- wp:post-title /-->

<!-- wp:post-content {"style":{"spacing":{"blockGap":"var:preset|spacing|40","margin":{"top":"0","bottom":"0"}},"elements":{"link":{"color":{"text":"#213fd4"}}}}} /--></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->